APP_NAME="Friday API"
API_VERSION="0.1.0"
ENV_STATE="prod"
DEBUG_MODE=false

# Domain + email for the jwilder + letsencrypt containers
FRIDAY_DOMAIN=api.acme.me
LETSENCRYPT_EMAIL=admin@acme.me
DB_ROOT_PASSWORD=yourpassword
DB_HOST=db # docker-compose service name by default
EXTERNAL_DB=false
# Database Settings

DATABASE_DIALECT=mysql
DATABASE_DRIVER=+pymysql
DATABASE_HOSTNAME=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=7379C3BG67
DATABASE_NAME=fridaystore
DATABASE_POOL_SIZE=5
DATABASE_POOL_OVERFLOW=10
DATABASE_POOL_RECYCLE=3600

# JWT Settings
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS Settings
CORS_ORIGINS=["*"]
CORS_METHODS=["*"]
CORS_HEADERS=["*"]