[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.75.1"
uvicorn = ">=0.17.6"
python-dotenv = ">=0.20.0"
pydantic = ">=2.0.0"
pydantic-settings = ">=2.0.3"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
black = "*"
types-sqlalchemy = "*"
pytest-cov = "*"
aiosqlite = "*"
mysqlclient = "*"
jsonschema = "*"
httpx = "*"
python-json-logger = "*"
openai = "*"
redis = "*"
rq = "==2.1.0"
exceptiongroup = "*"
sqlalchemy = ">=1.4.35"
pytest = "*"
pymysql = "*"
pytest-asyncio = "*"

[dev-packages]
pre-commit = ">=2.18.1"
black = ">=22.3.0"
pytest-mock = "*"
fakeredis = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
